@import '../variables';

.faq {
  background-color: $color-faq-background;
 
 
  div.card {
    background-color: $color-faq-header;
    color: white;
    background-color: unset;
    border-radius: 0;

    .card-header {
      background-color: $color-faq-header;
      border-radius: 0;
      padding: 1.1rem;
      border: unset;
    }

    button {
      text-align: start;
      font-size: large;
      color: white;
      border: unset;
      background-color: unset;
    }
  }

  

  &-title {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;

    @media screen and (min-width: 992px) {
      font-size: 3.5rem;
    }
  }

  &-clickable {
    cursor: pointer;
  }
}